mixin item(name)
    h1= name
    a(href= `https://${name}`)= 'Click me'
    p= 'This is a paragraph'

doctype html
html(lang="en")
  head
    title= "Surge Explorer"
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    h1 Pug - node template engine
    #container
        .sidebar
            p Sidebar
        .main
            
            each project in projects
                .item
                    p #{project}
                    +item(project)



