mixin item(name)
  .item
    p= name
    .buttons
      a.go(href= `https://${name}` target="__blank")= 'GO'
      //- a.delete(href= `/api/teardown/${name}`)= 'Del'

doctype html
html(lang="en")
  head
    title= "Surge Explorer"
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    .navbar(style={padding: '0.5rem 1em'})
      h1(style={color: 'gray', }) Surge 
        span(style={color: 'black'}) Explorer
    #container
        .sidebar
          .info
            p Welcome
            h1= `${username}`
          .info
            p Project Count
            h1= `${projects.length}`
        .main
            each project in projects
              +item(project)



